@import "variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
//For mobile devices
@media (max-width: 480px) {
    .navbar .nav-menu , .button-holder{
        display: none;
    }
    .navbar{
        margin: 0rem 1rem;
    }
}
@media (min-width: 481px) and (max-width: 1024px){
    .navbar .nav-menu,.button-holder{
        display: none;
    }
}
@media (min-width: 1025px){
    .navbar{
        display: flex;
        flex-direction: row;
        margin: 0rem 10rem;
    }
    .navbar .nav-menu{
        display: inline;
    }
    .navbar .nav-menu .nav-link{
        display: inline;
        a{
            text-decoration: none;
            color: inherit;
        }
        padding: 0px;
        margin-right: 1rem;
    }
}
.navbar{
    padding: 0px;
}
.navbar .logo-holder h1{
    padding: 0px;
    margin: 0px;
}
.navbar .nav-menu{
    list-style-type: none;
}
.navbar .button-holder{
    vertical-align: middle;
    margin: auto 0px;
}