@import "variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
@mixin gradient-text {
    background: linear-gradient(90deg,#e84393, #f39c12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
body{
    background-color: $dark;
    color: white;
}

//For mobile devices
@media (max-width: 480px) {
    .container{
        margin: 0rem 0.5rem;
    }
    .navbar .nav-menu , .button-holder{
        display: none;
    }
    .navbar{
        margin: 0rem 1rem;
    }
    
}
@media (min-width: 481px) and (max-width: 1024px){
    .container{
        margin: 0rem 1rem;
    }
    .navbar .nav-menu,.button-holder{
        display: none;
    }
    .navbar{
        margin: 0rem 5rem;
    }


}
@media (min-width: 1025px){
    .container{
        margin: 0rem 10rem;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        margin: 0rem 10rem;
    }
    .navbar .nav-menu{
        display: inline;
    }
    .navbar .nav-menu .nav-link{
        display: inline;
        a{
            color: inherit;
        }
        padding: 0px;
        margin-right: 1rem;
    }

}

a{
    text-decoration: none;
    color: inherit;
}
.navbar{
    padding: 0px;
}
.navbar .logo-holder h1{
    padding: 0px;
    margin: 0px;
}
.navbar .nav-menu{
    list-style-type: none;
}
.navbar .button-holder{
    vertical-align: middle;
    margin: auto 0px;
}
// styling landing page
.landing-page{
    margin-top: 9rem;
    margin-bottom: 2rem;
}
.landing-page .heading{
    padding: 0rem 1rem;
}
.landing-page .heading .title{
    padding: 0px;
    margin: 0px;
}
.landing-page .heading .text{
    padding: 0px;
    margin: 0px;
}
// Grid contianer
.auto-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: 
    repeat(auto-fit,minmax(min(22rem, 100%), 1fr));
}
.auto-grid .grid-content{
    padding: 1rem;
}
.bio-content .bio-info{
    margin-bottom: 5rem;
}
.bio-content .find-me .title{
    @include gradient-text();
    font-weight: bold;
    padding: 0px;
    margin-bottom: 1rem;
}
.bio-content .find-me a{
    padding: 10px 15px;
    border: 1px solid $licorice;
    border-radius: 5px;
    margin-right: 3px;
    background-color: black;
}
.bio-content .statistics{
    margin: 5rem 0rem;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.statistics .box{
    padding: 10px;
    flex-basis: 10rem;
    flex-shrink: 1;
    flex-grow: 1;
}
.statistics .box .title{
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.grid-content .image-content{
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.grid-content .image-content img{
    width: 60%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}
hr{
    border: 1px solid black;
}
// heading text styling
.service-page .heading{
    position: r;
}
.heading .pre-heading{
    font-weight: bold;
    margin: 0px;
    @include gradient-text();
}
.heading .title{
    padding: 0px;
    margin: 0px;
    font-size: 4em;
    font-weight: bold;
}
.service-page{
    overflow: hidden;
    margin: 2rem 0rem;
}
.card{
    background-color: $matte-black;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    margin: 1rem 0rem;
}
.card .icon-design{
    @include gradient-text();
    font-size: 20px;
}
.card .title{
    font-size: 24px;
    font-weight: 500;
}
.resume-page{
    text-align: center;
    margin: 5rem 0rem;
}
.project-grid{
    display: grid;
    gap: 1rem;
    place-items: center;
    margin: 4rem 0rem;
    grid-template-columns: 
    repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    
}
.project-holder{
    background-image: url("../../assets/images/medium.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24rem;
    height: 15rem;
    border-radius: 5px;
    filter: brightness(50%);
}
.projects{
    position: relative;
}
.projects .project-link{
    position: absolute;
    top: 45%;
    left: 30%;
    right: 30%;
    
}
.projects .project-link a{
    padding: 7px 10px;
    border-radius: 16px;
    transition: background-image 0.5s ease;
    background-color: rgb(247, 17, 112);
    color:white;
    
}
.projects .project-link a:hover{
    background-color: rgb(150, 0, 63);
}
.btn-xl{
    background-color: black;
    color: white;
    font-weight: 600px;
    padding: 1rem 1.5rem;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    text-transform: capitalize;
}
.btn-xl:hover i{
    padding-left: 8px;
    transition: all 0.5s ease;
}
.flat-card{
    text-align: start;
    position: relative;
}
.flat-card .date{
    padding: 0px;
    margin: 0px;
}
.flat-card .designation{
    padding: 0px;
    margin: 3px 0px;
}
.flat-card .title{
    padding: 0px;
    margin: 5px 0px;
    font-weight: 900;
    font-size: 1.6em;
}
.education .education-content{
    @include gradient-text();
    padding: 10px;
    text-align: start;
    border-bottom: 1px solid black;
    margin-top: 4rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.flat-card .badge{
    background-color: black;
    padding: 8px;
    font-size: 12px;
    border-radius: 5rem;
    position: absolute;
    top: -20%;
    left: -2%;
    margin: 2px;
}
.testimonial{
    margin: 5rem 0rem;
}
.current{
    color: green;
    text-transform: capitalize;
}
.swiper {
    width: 100%;
    height: 18rem;
    border: 1px solid $matte-black;
    background-color: $matte-black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  }
.two-cols-grid{
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(min(35rem, 100%),1fr));
    margin-top: 4rem;
}
.two-cols-grid .content{
    padding: 5rem;
}
.two-cols-grid .content .title{
    text-transform: capitalize;
    padding-top: 0px;
    margin-top: 0px;
}
.two-cols-grid .content .text{
    padding-top: 1rem;
}
.two-cols-grid .swiper-content{
    margin: 0px;
    padding: 0px;
}
// testimonial card
.testimonial-card{
    padding: 1rem;
}
.flex-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.flex-container .image{
    flex-shrink: 0;
    flex-basis: 100px;
}
.flex-container .details{
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 8px 0px;
    margin: 0px;
}
.flex-container .image img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.flex-container .details .name{
    margin: 0px;
    padding: 0px;
}
.flex-container .details .designation{
    padding: 0px;
    margin: 2px 0px;
}
.flex-container .details .rate{
    color: orange;
}
.card-content .user-text p{
    font-style: italic;
}