@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #2c3438;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.container {
  position: relative;
}

.space {
  letter-spacing: 4px;
}

@media (max-width: 480px) {
  .container {
    margin: 0rem 0.5rem;
  }
  .navbar .nav-menu, .button-holder {
    display: none;
  }
  .navbar {
    margin: 0rem 1rem;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    margin: 0rem 1rem;
  }
  .navbar .nav-menu, .button-holder {
    display: none;
  }
  .navbar {
    margin: 0rem 5rem;
  }
}
@media (min-width: 1025px) {
  .container {
    margin: 0rem 10rem;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    margin: 0rem 10rem;
  }
  .navbar .nav-menu {
    display: inline;
  }
  .navbar .nav-menu .nav-link {
    display: inline;
    padding: 0px;
    margin-right: 1rem;
  }
  .navbar .nav-menu .nav-link a {
    color: inherit;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  padding: 0px;
}

.navbar .logo-holder h1 {
  padding: 0px;
  margin: 0px;
}

.navbar .nav-menu {
  list-style-type: none;
}

.navbar .button-holder {
  vertical-align: middle;
  margin: auto 0px;
}

.landing-page {
  margin-top: 9rem;
  margin-bottom: 2rem;
}

.landing-page .heading {
  padding: 0rem 1rem;
}

.landing-page .heading .title {
  padding: 0px;
  margin: 0px;
}

.landing-page .heading .text {
  padding: 0px;
  margin: 0px;
}

.auto-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(22rem, 100%), 1fr));
}

.auto-grid .grid-content {
  padding: 1rem;
}

.bio-content .bio-info {
  margin-bottom: 5rem;
}

.bio-content .find-me .title {
  background: linear-gradient(90deg, #e84393, #f39c12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  padding: 0px;
  margin-bottom: 1rem;
}

.bio-content .find-me a {
  padding: 10px 15px;
  border: 1px solid #1B1212;
  border-radius: 5px;
  margin-right: 3px;
  background-color: black;
}

.bio-content .find-me a:hover {
  color: #e84393;
  transition: color 0.3s ease-in-out;
}

.bio-content .statistics {
  margin: 5rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.statistics .box {
  padding: 10px;
  flex-basis: 10rem;
  flex-shrink: 1;
  flex-grow: 1;
}

.statistics .box .title {
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.grid-content .image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-content .image-content img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
  place-content: center;
  filter: drop-shadow(0 0 5px black);
}

hr {
  border: 1px solid black;
}

.service-page .heading {
  position: r;
}

.heading .pre-heading {
  font-weight: bold;
  margin: 0px;
  background: linear-gradient(90deg, #e84393, #f39c12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading .title {
  padding: 0px;
  margin: 0px;
  font-size: 4em;
  font-weight: bold;
}

.service-page {
  overflow: hidden;
  margin: 2rem 0rem;
}

.card {
  background-color: #28282B;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  margin: 1rem 0rem;
}

.card .icon-design {
  background: linear-gradient(90deg, #e84393, #f39c12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.card .title {
  font-size: 24px;
  font-weight: 500;
}

.resume-page {
  text-align: center;
  margin: 5rem 0rem;
}

.project-grid {
  display: grid;
  gap: 1rem;
  place-items: center;
  margin: 4rem 0rem;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
}

.project-holder {
  overflow: hidden;
  border: 1px solid #fcac61;
  width: 23rem;
  height: 15rem;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.projects:hover .project-holder {
  border: 2px solid #e84393;
  transition: border 0.5s ease;
}

.project-holder img {
  filter: blur(2px) brightness(80%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.projects {
  position: relative;
}

.projects .project-details {
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
}

.projects .project-details .company {
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
}

.projects .project-details .title {
  text-transform: capitalize;
  padding: 0px;
  margin: 0px;
}

.projects .project-details .btn-link {
  margin: 0px 1px;
  border: 1px solid gray;
  padding: 3px 5px;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.projects .project-details .btn-link:hover {
  border-color: #fb1378;
}

.btn-xl {
  background-color: black;
  color: white;
  font-weight: 600px;
  padding: 1rem 1.5rem;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  text-transform: capitalize;
}

.btn-xl:hover i {
  padding-left: 8px;
  transition: all 0.5s ease;
}

.education .education-content {
  background: linear-gradient(90deg, #e84393, #f39c12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  text-align: start;
  border-bottom: 1px solid black;
  margin-top: 4rem;
  font-weight: lighter;
  text-transform: uppercase;
}

.testimonial {
  margin: 5rem 0rem;
}

.current {
  color: green;
  text-transform: capitalize;
}

.swiper {
  width: 100%;
  height: 18rem;
  border: 1px solid #28282B;
  background-color: #28282B;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.two-cols-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(35rem, 100%), 1fr));
  margin-top: 4rem;
}

.two-cols-grid .content {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.two-cols-grid .content .title {
  text-transform: capitalize;
  padding-top: 0px;
  margin-top: 0px;
}

.two-cols-grid .content .text {
  padding-top: 1rem;
}

.two-cols-grid .swiper-content {
  margin: 0px;
  padding: 0px;
}

.testimonial-card {
  padding: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.flex-container .image {
  flex-shrink: 0;
  flex-basis: 100px;
}

.flex-container .details {
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 8px 0px;
  margin: 0px;
}

.flex-container .image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.flex-container .details .name {
  margin: 0px;
  padding: 0px;
}

.flex-container .details .designation {
  padding: 0px;
  margin: 2px 0px;
}

.flex-container .details .rate {
  color: orange;
}

.card-content .user-text p {
  font-style: italic;
  padding: 0rem 1rem;
}

.cart {
  background-color: #28282B;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #28282B;
}

.cart .heading .title {
  font-size: 25px;
}

.information .list-holder {
  list-style-type: none;
  display: inline;
}

.information .list-holder .list-item {
  padding: 1rem;
}

.list-holder .list-item .icon {
  background: linear-gradient(90deg, #e84393, #f39c12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-holder .list-item .title {
  display: block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.list-holder .list-item .sub-title {
  padding-left: 2rem;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  background-color: black;
  color: white;
  border: 1px solid #28282B;
  border-radius: 8px;
  transition: border 0.3s ease;
}

.form-input:focus, textarea:focus {
  outline: 2px solid rgb(252, 159, 21);
}

textarea {
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  border: 1px solid #28282B;
  border-radius: 8px;
  transition: border 0.3s ease;
  margin: auto;
}

button[type=submit] {
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 100%;
  border: none;
  margin: 1rem auto;
  background-color: black;
  color: white;
}

.contact-page {
  margin: 4rem 0rem;
}
.contact-page .heading {
  text-align: center;
  margin: 3rem 0rem;
}

.form-holder {
  overflow: hidden;
}

.form-holder .contact-form {
  margin: 1rem;
}

.footer {
  margin-bottom: 5rem;
}

.footer .heading {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.footer .media-chanels {
  text-align: center;
}

.footer .media-chanels a {
  padding: 0.6rem 1rem;
  background-color: black;
  font-size: 28px;
  margin: 0rem 0.1rem;
  border-radius: 8px;
}

.footer .media-chanels a:hover {
  color: #e84393;
  transition: color 0.3s ease;
}

.text-gradient {
  background: linear-gradient(90deg, #e84393, #f39c12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.navigaiton {
  position: fixed;
  top: 90%;
  right: 5%;
  font-size: 36px;
  color: #fb1378;
}
.navigaiton a i {
  filter: drop-shadow(0 0 16px black);
}/*# sourceMappingURL=style.css.map */